# Byte-compiled / optimized files
**__pycache__/
**common/__pycache__/
**.egg-info/
**build/
**dist/

# Editor files
#**.vscode
*~
.vscode

# Virtual environment
puncc-dev-env/
puncc-user-env/
.venv

# Local demo files
**demo/

# Documentation build
.tox
docs/build
docs/source/modules.rst
