[MASTER]
disable=
    R0903, # allows to expose only one public method
    R0914, # allow multiples local variables

    C0103, # allow variable name such as `x` and `y`
    C0123, # allow use of type()
    C0201, # allow iterating the dictionary by calling .keys()
    C0206, # allow iterating without .items()
    C0302, # allow too many lines in module
    C0411, # allow custom import order

    E0606, # allow false positive used-before-assignment

    R0801, # allow similar lines in 2 files
    R0915, # allow too many statements
    R0917, # allow too many positional arguments

    W0105, # allow no effect string statement
    W0102, # allow dangerous default value []
    W0212, # allow access to protected member 
    W0511, # allow todos
    W0632, # allow unbalanced-tuple-unpacking
    W0221, # allow arguments override
    W0707, #
    W0718, # allow catching too general exception Exception
    W0719, # allow catching too general exception Exception
    W1203, # allow using f-strings as logging message
    W1401, # alow anomalous backslash in string

[FORMAT]
max-line-length=100
max-args=10
max-attributes=12
max-branches=15

[SIMILARITIES]
min-similarity-lines=6
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no

[TYPECHECK]
ignored-modules = numpy
