flake8
jax==0.4.30
pandas
pylint
pytest
pytest-cov
black
pre-commit
mkdocs
mkdocs-autorefs
mkdocstrings[python]
mkdocs-bibtex
pymdown-extensions
pypandoc_binary
tensorflow == 2.11.0
scikit-learn == 1.3.2
torch
tox
